* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Fonts */
@font-face {
  font-family: mycontentfont;
  src: url("font/Montserrat-Medium.ttf");
}

@font-face {
  font-family: myheaderfont;
  src: url("font/MinionPro-Bold.otf");
}

p {
  font-family: mycontentfont;
}

h1, h2, h3, h4 {
  font-family: myheaderfont;
}

/* Common */
body {
  background-color: #EFEFEF;
}

/* Navigation */
nav{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-content: center;
  padding: 20px;
  height: 95px;
  background-color: white;
  position: sticky;
}

.nav-list{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 1rem;
}

.nav-list a{
  font-family: mycontentfont;
  text-decoration: none;
  color: #1B484E;
  font-size: 1.2rem;
}

.nav-list a:hover{
  color: #BC3600;
  text-decoration: wavy;
}

nav button{
  font-size: 1.2rem;
  border: solid 2px #1B484E;
  background-color: white;
  color: #1B484E;
  height: 50px;
}

nav button:hover{
  background-color: #BC3600;
  border: solid 2px white;
  color: white;
  transition: .5s;
}